* {
	margin:.3rem 0;
	padding:0;
	box-sizing:border-box;
}

.my-container {
	margin: 0 auto;
	padding:1rem;
	max-width:960px;
}

nav {
	height: 45px;
	margin:2rem 0 3rem 0;
	border-bottom: .1px solid #B1B1B1;
}

nav > ul > li {
	display: inline-block;
	margin-right:2rem;
	color:black;
}

.link {
	text-decoration:none;
	color:#B1B1B1;
	font-size:18px;
}

.link:hover {
	color:black;
}

.active {
	color:black !important;
}